    input[type='checkbox'].thumbnail {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    img.thumbnail {
      cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="30" style="font-size: 20px;"><text y="15">&#x1F50D;</text></svg>'), auto;
    }
    .screenshot {
        position: fixed;
        width: 94vw;
        height: 100vh;
        top: 0;
        left: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }
    input[type='checkbox'].thumbnail:checked + label > .screenshot {
        display: flex;
    }
