    .game-item {
        padding: 0px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #7289DA;
        fill: #fff;
    }
    input[type=radio] {
      cursor: pointer;
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    input[type=radio] + a {
      cursor: pointer;
      transition:all 0.2s linear;
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
      filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    }
    input[type=radio]:checked + a {
      transition:all 0.2s linear;
      filter: initial;
      -webkit-filter: initial;
      filter: initial;
    }
    .label-usual {
        transition:all 0.2s linear;
        display: none;
    }
    .games-list .hton-details {
        transition:all 0.2s linear;
        display: none;
    }
    .games-list .oddgardens-details {
        transition:all 0.2s linear;
        display: none;
    }
    .games-list .perestroika3d-details {
        transition:all 0.2s linear;
        display: none;
    }
    .games-list .chueue-details {
        transition:all 0.2s linear;
        display: none;
    }
    .games-list .witchswell-details {
        transition:all 0.2s linear;
        display: none;
    }
    .games-list .beastscastle-details {
        transition:all 0.2s linear;
        display: none;
    }
    .games-list .cursedcoin-details {
        transition:all 0.2s linear;
        display: none;
    }
    .games-list .crowndungeon-details {
        transition:all 0.2s linear;
        display: none;
    }
    .games-list .aldente-details {
        display: none;
    }
    .games-list input[value="hton-details"]:checked ~ .hton-details {
        transition:all 0.2s linear;
        display: block;
    }
    .games-list input[value="oddgardens-details"]:checked ~ .oddgardens-details {
        transition:all 0.2s linear;
        display: block;
    }
    .games-list input[value="perestroika3d-details"]:checked ~ .perestroika3d-details {
        transition:all 0.2s linear;
        display: block;
    }
    .games-list input[value="chueue-details"]:checked ~ .chueue-details {
        transition:all 0.2s linear;
        display: block;
    }
    .games-list input[value="witchswell-details"]:checked ~ .witchswell-details {
        transition:all 0.2s linear;
        display: block;
    }
    .games-list input[value="beastscastle-details"]:checked ~ .beastscastle-details {
        transition:all 0.2s linear;
        display: block;
    }
    .games-list input[value="cursedcoin-details"]:checked ~ .cursedcoin-details {
        transition:all 0.2s linear;
        display: block;
    }
    .games-list input[value="crowndungeon-details"]:checked ~ .crowndungeon-details {
        transition:all 0.2s linear;
        display: block;
    }
    .games-list input[value="aldente-details"]:checked ~ .aldente-details {
        transition:all 0.2s linear;
        display: block;
    }
